@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  background-color: #f0f0f0;
  color: #1a1a1a;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

h1 {
  color: #004d61;
  margin-top: 2em;
}

#box {
  display: flex;
  flex-direction: column;
  gap: 0;
}

input,
textarea {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  border-radius: 0.2em;
  padding: 0.5em;
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
}

textarea {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  text-align: right;
}
