@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  background-color: #f0f0f0;
  color: #1a1a1a;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

h1 {
  color: #822659;
  margin-top: 2em;
}

select {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  background-color: #f0f0f0;
  color: #1a1a1a;
  padding: 1em;
  border: 1px solid #1a1a1a;
  border-radius: 0.5em;
}

#message {
  border: 1px solid #1a1a1a;
  border-radius: 0.5em;
  width: 20em;
  height: 10em;
  padding: 1em;
  color: #004d61;
}
