@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  background-color: #f0f0f0;
  color: #1a1a1a;
  line-height: 1.5;
  margin: 2rem 20rem;
}

h1 {
  color: #004d61;
  margin-top: 1em;
}

main {
  margin-top: 1em;
}

h2 {
  color: #822659;
}

#box {
  margin-top: 1em;
}
