@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  background-color: #f0f0f0;
  color: #1a1a1a;
  line-height: 1.5;
  padding: 1.5rem;
  margin: 1.5rem;
}

h1 {
  color: #004d61;
}

h2 {
  color: #822659;
}

header {
  text-align: center;
  border: 1px solid black;
  border-radius: 1em;
  padding: 1em;
  padding-bottom: 3em;
  margin-bottom: 1em;
}

header section {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 1em;
}

header section div {
  flex: auto;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.5em;
}

nav a {
  display: block;
  color: #3e5641;
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  text-decoration: underline;
}

header section div:first-child {
  display: flex;
  align-items: center;
  gap: 1em;
}

header img {
  border-radius: 1em;
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

footer {
  margin-top: 2em;
  text-align: center;
}

@media (max-width: 1280px) {
  header section {
    flex-direction: column;
    gap: 2em;
  }

  header h1 {
    margin-top: 1em;
  }

  header img {
    border-radius: 2em;
  }
}

@media (max-width: 700px) {
  body {
    font-size: 0.8rem;
    line-height: 1;
    padding: 1rem;
    margin: 1rem;
  }
}
