main {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 1em;
  margin-bottom: 1em;
  padding: 2em 10em;
  gap: 5em;
}

#projects h2 {
  text-align: center;
  margin-bottom: 2em;
}

#projects div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2em;
}

#projects div section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  text-align: justify;
}

#contact {
  text-align: center;
  border: 1px solid black;
  border-radius: 1em;
  padding: 1em;
}

#contact h2 {
  margin-bottom: 2em;
}

.formButton {
  margin-top: 2em;
}

.formBox {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2em;
  text-align: justify;
}

input,
textarea {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  border-radius: 0.2em;
  padding: 0.5em;
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
}

@media (max-width: 1280px) {
  main {
    padding: 0.8em;
  }

  #projects div {
    flex-direction: column;
  }

  input,
  textarea {
    font-size: 1em;
  }
}
