<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>New</title>
  </head>
  <body class="w-1/2 m-auto mt-20 border border-zinc-800 p-5">
    <header><h1 class="text-6xl text-center">New Article</h1></header>
    <main class="flex flex-col gap-5 mt-20">
      <form action="/new" method="POST" class="flex flex-col gap-5">
        <input
          name="title"
          type="text"
          placeholder="article title..."
          class="p-3 border border-zinc-800"
          required
        />
        <textarea
          name="content"
          placeholder="article content..."
          rows="12"
          class="p-3 border border-zinc-800"
          required
        ></textarea>
        <input
          type="submit"
          value="Publish"
          class="border border-zinc-800 p-3 hover:bg-zinc-800 hover:text-white"
        />
      </form>
    </main>
  </body>
</html>
