@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  background-color: #333;
  color: whitesmoke;
  padding: 1.5em;
  margin: 1.5em;
}

main {
  display: flex;
  flex: row;
  gap: 20em;
  margin-top: 2em;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 3em;
  margin-top: 2em;
}

section {
  display: none;
}

h2:hover {
  cursor: pointer;
}

#length {
  display: block;
}

#length-h2 {
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

input,
select {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #333;
  background-color: whitesmoke;
  width: 10em;
  padding: 0.3em;
}

input[type="submit"] {
  width: 5em;
  margin-top: 1em;
  cursor: pointer;
}

#result {
  border: 1px solid whitesmoke;
  height: fit-content;
  padding: 1em;
}
